* {
  box-sizing: border-box;
}

html {
  background: linear-gradient(50deg, #2f2f2f, #0c261c);
}

body {
  margin: 0 auto;
  min-width: fit-content;
  padding: 5em;
  gap: 5em;
  background: linear-gradient(50deg, #2f2f2f, #0c261c);
}


img {
  border-radius: 4.375rem;

}

img:hover {
  transition: 700ms;
  transform: scale(1.1);
  cursor: pointer;
}