* {
  box-sizing: border-box;
}




/* ************ GRID ************ */

.grid {
  display: grid;
}

.grid.center {
  justify-content: center;
  align-items: center;

}


.grid.column {
  grid-template-columns: 1fr;
}

.grid.columns-auto img {
  width: 100%;
  height: auto;
}