@font-face {
  font-family: AkayaKanadaka-Regular;
  src: url(/fonts/Akaya_Kanadaka/AkayaKanadaka-Regular.ttf);
}

@font-face {
  font-family: ChangaOne-Regular;
  src: url(/fonts/Changa_One/ChangaOne-Regular.ttf);
}

@font-face {
  font-family: LondrinaShadow-Regular;
  src: url(/fonts/Londrina_Shadow/LondrinaShadow-Regular.ttf);
}