* {
  box-sizing: border-box;
}


.editor {
  margin: 0 auto;
  width: 40%;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 2rem;

}




canvas {
  border: 1px solid #000;
  margin: 0 auto;
  border-radius: 1rem;
}


.meme-text-input {
  font-size: 2rem;
  color: white;
  height: 4rem;
  min-width: 15rem;
  max-width: 30rem;
  border-radius: 4.375rem;
  background-color: rgba(57, 217, 57, 0.736);
}

.meme-text-input::placeholder {
  color: rgba(255, 255, 255, 0.695);
}


.add-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;

  height: 3rem;
  width: 3rem;

  background-color: #39d939;
  color: white;
  /* border: none; */
  padding: 1rem 1rem;
  border-radius: 4.375rem;
  cursor: pointer;

}

.add-btn:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.add-div {
  align-self: start;
  gap: 0.3rem;
}


.meme-tools {
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.download-btn-container {
  background-color: rgb(165, 45, 198);
  align-items: center;
  width: 13rem;
  height: 5rem;

  border-radius: 4.375rem;

}

.donwnload-meme-link {
  justify-content: start;
  font-size: 2rem;
  height: 2rem;
  width: 2rem;
  margin-left: 0.3rem;

  color: white;
  /* border: none; */
  text-decoration: none;
  cursor: pointer;

  gap: 3rem;
}

.download-btn-container:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.fa-cloud-arrow-down {
  margin-bottom: 30px;
  font-size: 2rem;
  width: 0.2rem;
  height: 0.2rem;
}

.color-btn-container {

  background-color: rgb(77, 43, 197);
  align-items: center;
  justify-content: center;
  width: 12rem;
  height: 5rem;
  border-radius: 4.375rem;
  gap: 1rem;

}

.color-btn-container:hover {
  transform: scale(1.1);
  transition: 0.5s;
}



.fa-brush {
  color: white;
  margin-bottom: 20px;
  font-size: 2rem;
  width: 0.2rem;
  height: 0.2rem;
}

.color-picker-label {
  font-size: 2rem;
  color: white;
}


#color-picker {
  top: 50px;
  left: 0;
}