* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 1em;
  background: linear-gradient(50deg, #12cd72, #00c8b7);
  border-radius: 5em;
  color: rgba(49, 93, 102, 0.734);
}

h1 {
  font-size: 3em;
}

ul {
  list-style: none;
}

ul li {
  font-size: 2em;
  color: #ffffff;
}

li:hover {
  cursor: pointer;
  scale: 1.1;
  transition: 0.5s;

}

.ul-div {
  gap: 2em;
}